#buggy{
    max-width: 970px;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;     
}

#buggy img{
   width: 100%;
   height: 500px;
}

.tit{
    margin: auto;
    max-width: 970px;
    text-align: center;
    
}

#kit{
    max-width: 970px;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;   
}

#kit img{
    width: 100%;
    height: 500px;
}

#jangada{
    max-width: 970px;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;  
}

#jangada img{
    width: 100%;
    height: 500px;
}

.container3{
    display: flex;
    max-width: 970px;
    margin: auto;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;  
}

.card3{
    background-color: rgba(0,0,0,.45);
    color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 21px #26395338;
    max-width: 300px;
    margin-left: 11px;
    margin-right: 11px;
    margin-top: 11px;
    margin-bottom: 11px;   
}

.topCard3{
    padding: 20px;
    padding-top: 0px;
}

.botonCard3{
    padding: 20px;
}

.mediaCard13{
    background: url("../assets/Passeios/beach\ park.jpg") center/cover;
    height: 200px;
    width: 100%;
}

.mediaCard14{
    background: url("../assets/Passeios/Prainha--1024x575.jpg") center/cover;
    height: 200px;
    width: 100%;
}

.mediaCard15{
    background: url("../assets/Passeios/engenhoca.jfif") center/cover;
    height: 200px;
    width: 100%;
}

.mediaCard16{
    background: url("../assets/Passeios/tribo.jpg") center/cover;
    height: 200px;
    width: 100%;
}

.mediaCard17{
    background: url("../assets/Passeios/iguape.jpg") center/cover;
    height: 200px;
    width: 100%;
}

.mediaCard18{
    background: url("../assets/Passeios/golf.jfif") center/cover;
    height: 200px;
    width: 100%;
}

.container4{
    display: flex;
    max-width: 970px;
    margin: auto;
    flex-wrap: wrap; 
    padding-top: 20px;
    padding-bottom: 20px;   
}

.card4{
    background-color: rgba(0,0,0,.45);
    color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 21px #26395338;
    max-width: 300px;
    margin-left: 11px;
    margin-right: 11px;
    margin-top: 11px;
    margin-bottom: 11px;
    margin: auto;  
}

.topCard4{
    padding: 20px;
    padding-top: 0px;
}

.botonCard4{
    padding: 20px;
    text-align: center;
}

.mediaCard19{
    background: url("../assets/parceiros/ominibis.jpg") center/cover;
    height: 200px;
    width: 100%;
}

.mediaCard20{
    background: url("../assets/parceiros/ebooking.jfif") center/cover;
    height: 200px;
    width: 100%;
}

