.entrada{
    margin: auto;
    max-width: 970px;
    text-align: center;
    font-family: Allison, cursive ;
    color: #000000;
    font-size: 50px;
}

#fotos{
    margin: auto;
    max-width: 100%;
    text-align: center;
}

#fotos img{
    max-width: 200px;
    height: 200px;
    padding: 55px;
}


.Titulo{
    margin: auto;
    max-width: 970px;
    text-align: center;
    font-family: Asap, sans-serif ;
    color: blue;
    font-size: 50px;
}

.Titulo2{
    margin: auto;
    max-width: 970px;
    text-align: center;
    font-family: Allison, cursive ;
    color: #000000;
    font-size: 50px;
}

.container{
    display: flex;
    max-width: 970px;
    margin: auto;
    flex-wrap: wrap;   
}

.card1{
    background-color: rgba(0,0,0,.10);
    border-radius: 20px;
    box-shadow: 0px 2px 21px #26395338;
    max-width: 300px;
    height: 600px;
    margin-left: 11px;
    margin-right: 11px;
    margin-top: 11px;
    margin-bottom: 11px;   
}

.mediaCard{
    background: url("../assets/restaurante/peixe.jpg") center/cover;
    height: 200px;
    width: 100%;
}

.mediaCard2{
    background: url("../assets/restaurante/caranguejo.jpg") center/cover;
    height: 200px;
    width: 100%;
}

.mediaCard3{
    background: url("../assets/restaurante/bobocamarao.jpg") center/cover;
    height: 200px;
    width: 100%;
}

.mediaCard4{
    background: url("../assets/restaurante/bife.jpg") center/cover;
    height: 200px;
    width: 100%;
}

.mediaCard5{
    background: url("../assets/restaurante/batata.jpg") center/cover;
    height: 200px;
    width: 100%;
}

.mediaCard6{
    background: url("../assets/restaurante/frango.jpg") center/cover;
    height: 200px;
    width: 100%;
}

.topCard{
    padding: 20px;
    padding-top: 0px;
}

.botonCard{
    padding: 20px;
}

.container2{
    display: flex;
    max-width: 970px;
    margin: auto;
    flex-wrap: wrap;  
}

.card2{
    background-color: rgba(0,0,0,.10);
    border-radius: 20px;
    box-shadow: 0px 2px 21px #26395338;
    max-width: 300px;
    margin-left: 11px;
    margin-right: 11px;
    margin-top: 11px;
    margin-bottom: 11px;   
}

.topCard2{
    padding: 20px;
    padding-top: 0px;
}

.botonCard2{
    padding: 20px;
}

.mediaCard7{
    background: url("../assets/restaurante/bar/bebida3.jpg") center/cover;
    height: 200px;
    width: 100%;
}

.mediaCard8{
    background: url("../assets/restaurante/bar/drink-3313606__340.webp") center/cover;
    height: 200px;
    width: 100%;
}

.mediaCard9{
    background: url("../assets/restaurante/bar/caipiroska.jpg") center/cover;
    height: 200px;
    width: 100%;
}

.mediaCard10{
    background: url("../assets/restaurante/bar/sexy.jpg") center/cover;
    height: 200px;
    width: 100%;
}

.mediaCard11{
    background: url("../assets/restaurante/bar/mojito.jpg") center/cover;
    height: 200px;
    width: 100%;
}

.mediaCard12{
    background: url("../assets/restaurante/bar/margarita-1839361__340.jpg") center/cover;
    height: 200px;
    width: 100%;
}



